# =========================================
# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================
# ENV FILES
# =========================================

.env


# =========================================
# VIRTUAL ENVIRONMENT
# =========================================

venv/
env/


# =========================================
# VSCODE
# =========================================

.vscode/


# =========================================
# SYSTEM FILES
# =========================================

.DS_Store
Thumbs.db


# =========================================
# LOG FILES
# =========================================

*.log


# =========================================
# BUILD FILES
# =========================================

build/
dist/


# =========================================
# NODE MODULES
# =========================================

node_modules/